.error-container {
  border: 1px solid rgb(180, 52, 52);
  padding: 20px;
  width: fit-content;
  position: absolute;
  background-color: #fff;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.error-status {
  margin-bottom: 10px;
  color: rgb(180, 52, 52);
}
